*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
} 

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: goldenrod;
    background-image: linear-gradient(goldenrod, red);
}
header {
    display: flex;
    width: 90vw;
    background-color: antiquewhite;
    flex-direction: column;
    align-items: start;
    padding: 2em 2em 0em 2em;
}

.headline-con {
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 1.3em;
}

nav {
    align-self: flex-end;
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content:end;
    gap: 1rem;
}

a:link {
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 600;
    color: black;
    padding: 0.3em 0.8em;
}

a:hover , a:active {
    background-color: rgba(237, 183, 45, 0.637);
    border-radius: 1rem;
    padding: 0.3em 0.8em;
    color: black;
}


main {display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    width: 75%;
}

.about-header {
    font-weight: 600;
}

.main-in-con-1 {
    display: flex;
    justify-content: center;
}

.main-in-con-2 {
    width: 30%;
    align-self: center;
}

.portrait {
    width: 20rem;
}

aside {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(237, 183, 45, 0.388);
    border-radius: 8em;
    width: 20%;
    gap: 0.5em;
    height: fit-content;
    padding: 1em;
}

.portfolio-header {
    font-size: 1.5em;
    font-weight: 600;
}

.portfolio-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.portfolio-box {
    display: flex;
    justify-content: center;
    border-radius: 1em;
    width: 8em;
    padding: 0.5em;
}

.portfolio-box:hover {
    background-color: rgba(237, 183, 45, 0.637);
}

.portfolio-box p {
    font-size: 1.3em;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer-con{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 100%;
    gap: 2em;
}

a > img {
    height: 1.2em;
}

footer p {
    justify-self: flex-end;
    align-self: flex-end;
    font-size: 1em;
    margin-right: 2em;
    margin-bottom: 1em;
}