@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }

  h1 {
    font-family: "Antonio", sans-serif;
    font-weight: 200;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Alumni Sans", sans-serif;
  }

  html {
    scrollbar-gutter: stable both-edges;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

img,
video {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

